# Backend HTTP/WebSocket port
PORT=4000

# Postgres connection
DB_HOST=bd
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chatdb

# Redis connection (used as socket.io adapter)
REDIS_HOST=redis
REDIS_PORT=6379

#posgress

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chatdb

#pgadmin

PGADMIN_DEFAULT_EMAIL=myadmin@example.com
PGADMIN_DEFAULT_PASSWORD=mypassword

